/ - if !current_user
/   = link_to "ログイン", user_session_path
    br
/   = link_to "新規ユーザー作成", new_user_registration_path
    br
= link_to "問題を解く", question_main_path, class: 'btn btn-outline-primary'
/ = link_to "ランキング",
br
br
= link_to "単語帳を作成する", question_index_path, class: 'btn btn-outline-primary'